@use "style/_colors.scss" as c;

.wrapper {
  width: 272px;
  height: 100px;
  background: c.$white;
  box-shadow: 2px 2px 8px rgba(13, 59, 107, 0.2);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 25px 10px 35px;
  position: relative;
  z-index: 1000;
  .contentDiv {
    cursor: pointer;
  }
}

.overlay {
  position: fixed;
  z-index: 900;
  inset: 0;
  background: transparent;
}
