.card {
  // max-width: 500px;
  width: 100%;
  z-index: 250;
  position: relative;
  max-height: 500px;
  overflow-y: auto;

  .inActive {
    letter-spacing: 0.02em;
    font-weight: normal;
    font-size: 14px;
    color: #7e858d;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 160px;
    white-space: nowrap;

    &:hover {
      font-weight: 700;
      cursor: pointer;
    }
  }
}
