@use "style/_colors.scss" as c;

.wrapper {
  overflow-x: auto;
  padding: 0;
  .cardHeader {
    padding: 6px 15px;
    height: 80px;
    min-width: 1332px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 2px 2px 8px rgba(13, 59, 107, 0.2);
    background-color: #fff;
    .headerContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      border-right: 1px solid c.$lightgray;
      padding: 0 24px;
      flex: 1;
      &:nth-of-type(1) {
        padding-left: 0;
        padding-right: 15px;
      }
      &:nth-last-of-type(1) {
        border-right-color: transparent;
      }

      p {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: c.$darkblue;
      }
      small {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 140%;
        color: c.$darkblue;
        display: block;
        margin-top: 3px;
      }
    }
  }

  .cardBody {
    padding: 6px 15px;
    height: 87px;
    min-width: 1332px;
    display: flex;
    position: relative;
    z-index: 0;
    > .bodyContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      padding: 0 24px;
      flex: 1;
      &:nth-of-type(1) {
        padding-left: 0px;
        padding-right: 15px;
      }
      &:nth-last-of-type(1) {
        padding-right: 22px;
      }

      .statusIconDiv {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .hoverToolTipDiv {
          display: flex;
          position: relative;
          width: 340px;
        }
        .statusImgDiv {
          flex: 1;
          text-align: right;
        }
      }

      .p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: c.$darkblue;
      }
      small {
        display: inline-block;
        color: #7e858d;
        position: relative;
        margin-top: -3px;
        font-size: 10px;
      }
      span {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 140%;
        color: c.$darkblue;
      }
    }
  }
}

.noDataDiv {
  width: 100%;
  min-height: calc(250px - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 16px;
    color: c.$darkblue;
    font-weight: 500;
  }
}
